<h1>Trending Deals</h1>
<div class="card">
    <h3 class="card-title">Offer 1</h3>
    <p>Get 20% off on your first order!</p>
    <a href="home appliances" class="card-link"></a>
</div>
<div class="card">
    <h3 class="card-title">Offer 2</h3>

    
    <p>Get 50% off on all shoes!</p>
    <a href="mobile accessories" class="card-link"></a>
</div>
<div class="card">
    <h3 class="card-title">Offer 3</h3>
    <p>Get 30% off on all electronics!</p>
    <a href="electronic gadgets" class="card-link"></a>
</div>
